<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.tedu.dao.AccountMapper">
   
    <select id="checkLogin" resultType="com.tedu.pojo.Account" >

        select account_id,username,real_name,gender,phone,Address,grade,aboutMe from account 
    </select>
   
   
   <select id="checkRole" resultType="int">	
   select role_id from account a LEFT JOIN login l on a.username= l.username WHERE a.username=#{username}
   </select>
   
   <select id="selectInfoByUsername" resultType="com.tedu.pojo.Account">
   	select * from account 
   	<where>
   		username=#{username}
   	</where>
   </select>
   <!--测试json传输-->
     <!--<select id="findAll" resultType="com.tedu.pojo.Account" >
        select account_id,username,real_name,gender,phone,Address,grade,aboutMe from account 
    </select>
  -->

   <update id="saveAccountInfo" parameterType="com.tedu.pojo.Account" >
   update account set username=#{username},real_name=#{real_name},gender=#{gender},phone=#{phone},address=#{address},grade=#{grade},aboutMe=#{aboutMe} 
 	<where>
 	account_id=#{account_id}
 	</where>
   </update>

   
</mapper>
