<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.tedu.dao.AccountMapper">
   
    <select id="checkLogin" resultType="com.tedu.pojo.Account" >

        select account_id,username,real_name,gender,phone,Address,grade,aboutMe from account 
    </select>
   
   
   <select id="checkRole" resultType="int">	
   select role_id from account a LEFT JOIN login l on a.username= l.username WHERE a.username=#{username}
   </select>
   
   <select id="selectInfoByUsername" resultType="com.tedu.pojo.Account">
   	select * from account 
   	<where>
   		username=#{username}
   	</where>
   </select>
   <!--测试json传输-->
     <!--<select id="findAll" resultType="com.tedu.pojo.Account" >
        select account_id,username,real_name,gender,phone,Address,grade,aboutMe from account 
    </select>
  -->

   <update id="saveAccountInfo" parameterType="com.tedu.pojo.Account" >
   update account set username=#{username},real_name=#{real_name},gender=#{gender},phone=#{phone},address=#{address},grade=#{grade},aboutMe=#{aboutMe} 
 	<where>
 	account_id=#{account_id}
 	</where>
   </update>
   
   <select id="selectPointByAccountId" resultType="int">
   select point_count from account
   	<where>
 	account_id=#{account_id}
 	
 	</where>
   </select>
   
<!--使用积分购买课程 -->
   <update id="updatePointCountByUsernameAndPrice"  >
   update account set 
   point_count=point_count-#{price} where username=#{username}
 
   </update>
   
   <!--
<update id="updatePointCountByAccountIdAndPrice">
	update account
	set point_count=point_count-#{price} where account_id=#{account_id}</update>
 -->
 
 <!-- 查询积分 -->
 <select id="selectIntegralPayByPhone" parameterType="String" resultType="int">
 select point_count from account 
 	<where>
 	phone = #{phone}
 	</where>
 </select>
 
 <!-- 增加积分 -->
<update id="updateIntegralPayByPhone">
update account set point_count = #{point_count} where phone = #{phone}

</update>

<!-- 充值订单添加 -->
<insert id="insertOrder">
insert into orders(orderId,phone) values(#{orderId},#{phone})
</insert>

<!-- 充值手机号查询 -->
<select id="selectPhoneByOrderId" parameterType="String" resultType="String">
select phone from orders where orderId = #{orderId}
</select>

</mapper>
